{% extends 'base.html.twig' %}

{% block title 'Création de compte' %}

  {% block body %}

    <div class="container">
      <h1>Créer un compte</h1>
      {{ form_start(form) }}
      <div class="row g-3">
        <div class="bd-example">
            <div class="col-sm-6">
            {{ form_row(form.email) }}
            </div>
            <div class="col-sm-6">
            {{ form_row(form.plainPassword, {label: 'Password'}) }}
            </div>
            <div class="col-sm-6">
            {{ form_row(form.confirmPassword)}}
            </div>
            <div class="col-sm-6">
            {{ form_row(form.firstname) }}
            </div>
            <div class="col-sm-6">
            {{ form_row(form.lastname) }}
            </div>
        </div>
      </div>
      {{ form_widget(form) }}
      <button class="btn btn-primary">{{button|default('Créer')}}</button>
      {{ form_end(form)}}
    </div>
  {% endblock %}
